* {
    box-sizing: border-box;
}

body {
    background-color: white;
    border: 1px solid white;
}

main {
    height: 1000px;
}

main .shows {
    display: flex;
    float: left;
    margin-left: 115px;
    margin-bottom: 20px;
}

main .shows a {
    text-decoration: none;
    color: black;
}

main .shows i {
    font-size: 8px
}

main .shows .anchor a {
    padding-right: 5px;
    padding-left: 5px;
}

aside {
    width: 50%;
    float: left;
    position: relative;
    clear: both;
}

aside .regis {
    float: right;
    width: 70%;
    background-color: #F5F7FF;
    clear: both;
    height: 400px;
    border: 1px solid #F5F7FF;
}

article {
    float: left;
    width: 50%;
    position: relative;
}

article .newCustom {
    float: left;
    width: 70%;
    margin-left: 20px;
    background-color: #F5F7FF;
    height: 400px;
    position: relative;
    border: 1px solid #F5F7FF;
}

article .newCustom #create {
    background-color: #40AD87;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #40AD87;
    margin-top: 30px;
}

article .newCustom #create:hover {
    cursor: pointer;
}

article .newCustom .ele, aside .regis .ele {
    margin-left: 50px;
    position: absolute;
    margin-top: 30px;
}

.regis form input {
    width: 350px;
    height: 40px;
    text-shadow: none;
}

.regis form #sign {
    clear: both;
    margin-top: 30px;
    width: 110px;
    float: left;
    height: 40px;
    border-radius: 30px;
    background-color: #40AD87;
    border: 1px solid #40AD87;
    color: white;
}

.regis form :hover {
    cursor: pointer;
}

.regis form input :hover {
    border: 0.4px solid black;
}

.regis form p span {
    color: rgb(187, 40, 14);
}

.regis form a {
    float: left;
    padding-top: 40px;
    padding-left: 20px;
    text-decoration: none;
    color: #40AD87;
}

aside p, article p{
    font-weight: bolder;
}

main h1 {
    margin-left: 120px;
    clear: both;
}
main .table_1 {

    clear: both;
    width: 100%;
}

main .table_1 i {
    margin-top: 50px;
}

main .table_1 i {
    width: 60px;
    height: 60px;
    background: rgb(65, 116, 76);
    color: white;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 30px;
    position: relative;
    padding-top: 15px;
}

main table {
    clear: both;
    padding-top: 0px;
    margin: auto;
}

main table tr td {
    padding-right: 40px;
    text-align: center;
    width: 300px;
}

main table tr th {
    padding-right: 40px;
    text-align: center;
}

main .table_1 table tr #title {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and(max-width:1000px) {
    aside{
        width: 100%;
        height: 50%;
    }
    article {
        width: 100%;
    
    }
}