@media screen and (max-width: 1200px) {
    .section__right {
        .shop__chat {
            .mess__input {
                width: 550px;
            }
            .mess__icon--right {
                padding-left: 500px;
            }
        }
    }
    .section__left {
        .direct__main--component {
            .component__time {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .section__right{
        .shop__chat {
            .mess__input {
                width: 400px;
            }
            .mess__icon--right {
                padding-left: 350px;
            }
        }
    }
   
}
@media screen and (max-width: 768px) {
    .section__right {
        .shop__chat {
            .mess__input {
                width: 300px;
            }
            .mess__icon--right {
                padding-left: 250px;
            }
            .mess__icon--left {
                visibility: hidden;
            }
            .mess__icon--left :first-child {
                visibility: visible;
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .section__right {
        .shop__chat {
            margin-top: 50px;
            .mess__input {
                width: 200px;
            }
            .mess__icon--right {
                padding-left: 150px;
            }
        }
    }

    .section__left {
        .direct__bot {
            margin-top: 90px;
        }
    }
}
