* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    font-style: normal;
}

body {
    background-color: #ffffff;
    box-sizing: border-box;
}
/* search bar */
.direct__nav--search {
    max-width: 250px;
    width: 100%;
    margin: 35px 0px 35px 0px;
}
.direct__nav--search .search-box {
    position: relative;
    height: 40px;
    /* max-width: 50px; */
    margin: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    transition: all 0.3s ease;
}
.search-box input {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background: #fff;
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 18px;
}
.search-box .icon {
    position: absolute;
    right: -2px;
    top: 0;
    width: 50px;
    background: #fff;
    height: 100%;
    text-align: center;
    line-height: 50px;
    color: black;
    font-size: 20px;
    border-radius: 25px;
}

.direct__nav--img {
    height: 4px;
    margin-top: 50px;
    margin: auto;
}
/* End searchBar */
.directShop {
    padding-right: 0px;
    padding-left: 0px;
}
.row {
    margin-left: 0px;
}
.direct__main--component:hover {
    background-color: #0094ff;
    border-radius: 10px;
}
.direct__main--component {
    margin-bottom: 20px;
}
.section__left {
    background-color: #81d6b8;
}
.component__img {
    width: 72px;
    height: 72px;
    margin-left: 10px;
}
.component__paragraph {
    padding: 20px;
    display: inline-block;
}

.component__time {
    padding: 20px 0px 0px 20px;
}

.section__right {
    position: relative;

    /* -moz-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0,0.5);
-webkit-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, .5); */
    box-shadow: 2px 1px 4px 3px rgba(0, 0, 0, 0.5);
    padding: 10px;
    background: white;
}
.shop__online {
    margin: 35px 0px 35px 0px;
}

.shop__online--circle {
    width: 10px;
    height: 10px;
    background-color: #00ff38;
    border-radius: 50%;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
}
.shop__online span {
    color: #40ad87;
    margin: auto;
    margin-left: 10px;
}
.shop__online--name {
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    font-weight: 600;
}
.userRight {
    float: right;
}
.userLeft {
    clear: both;
}
.direct__bot {
    margin-top: 250px;
    
}
.direct__bot-left {
    float: left;
    margin-bottom:50px ;
   
}
.direct__bot-left img{
    padding: 20px;
}
.direct__bot-right {
    float: right;
   
}
.direct__bot-right img {
    padding: 16px;
}
.userRight__time {
    float: right;
    margin-bottom: 0px;
}
.userRight__paragraph {
    clear: both;
    background-color: #40ad87;
    padding: 5px 15px 5px 15px;
    border-radius: 0px 15px 0px 15px;
}

.wrap__time {
    margin-bottom: 0px;
}
.wrap__paragraph {
    margin-bottom: 0px;
    background-color: #0094ff;
    padding: 5px 15px 5px 15px;
    border-radius: 0px 15px 0px 15px;
}
.userLeft-img {
    margin: 0px 15px 0px 15px;
    width: 72px;
    height: 72px;
}
.shop__chat {
    margin-top: 170px;
    position: relative;
    margin-left: 20px;
}
.mess__input {
    background-color: #e9e9e9;
    width: 800px;
    height: 50px;
    border-radius: 40px;
    position: absolute;
}

.mess__icon--left {
    position: absolute;
    padding: 7px;
    padding-left: 20px;
}
.mess__icon--right {
    position: absolute;

    padding: 7px;
    padding-left: 750px;
}
