* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-style: normal;
}

body {
  background-color: #ffffff;
  box-sizing: border-box;
}

.section__left {
  background-color: #81d6b8;
}
.section__left .direct__nav--search {
  max-width: 250px;
  width: 100%;
  margin: 35px 0px 35px 0px;
}
.section__left .direct__nav--search .search-box {
  position: relative;
  height: 40px;
  /* max-width: 50px; */
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transition: all 0.3s ease;
}
.section__left .direct__nav--search .search-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background: #fff;
  outline: none;
  border: none;
  padding-left: 20px;
  font-size: 18px;
}
.section__left .direct__nav--search .search-box .icon {
  position: absolute;
  right: -2px;
  top: 0;
  width: 50px;
  background: #fff;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: black;
  font-size: 20px;
  border-radius: 25px;
}
.section__left .direct__nav--img {
  height: 4px;
  margin-top: 50px;
  margin: auto;
}
.section__left .direct__main--component {
  margin-bottom: 20px;
}
.section__left .direct__main--component .component__img {
  width: 72px;
  height: 72px;
  margin-left: 10px;
}
.section__left .direct__main--component .component__paragraph {
  padding: 20px;
  display: inline-block;
}
.section__left .direct__main--component .component__time {
  padding: 20px 0px 0px 20px;
}
.section__left .direct__main--component:hover {
  background-color: #0094ff;
  border-radius: 10px;
}
.section__left .direct__bot {
  margin-top: 250px;
}
.section__left .direct__bot .direct__bot-left {
  float: left;
  margin-bottom: 50px;
}
.section__left .direct__bot .direct__bot-left img {
  padding: 20px;
}
.section__left .direct__bot .direct__bot-right {
  float: right;
}
.section__left .direct__bot .direct__bot-right img {
  padding: 16px;
}

.directShop {
  padding-right: 0px;
  padding-left: 0px;
}

.row {
  margin-left: 0px;
}

.section__right {
  position: relative;
  box-shadow: 2px 1px 4px 3px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background: white;
}
.section__right .shop__online {
  margin: 35px 0px 35px 0px;
}
.section__right .shop__online .shop__online--circle {
  width: 10px;
  height: 10px;
  background-color: #00ff38;
  border-radius: 50%;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
}
.section__right .shop__online span {
  color: #40ad87;
  margin: auto;
  margin-left: 10px;
}
.section__right .shop__online .shop__online--name {
  margin: auto;
  margin-left: 0px;
  margin-right: 0px;
  font-weight: 600;
}
.section__right .userRight {
  float: right;
}
.section__right .userRight .userRight__time {
  float: right;
  margin-bottom: 0px;
}
.section__right .userRight .userRight__paragraph {
  clear: both;
  background-color: #40ad87;
  padding: 5px 15px 5px 15px;
  border-radius: 0px 15px 0px 15px;
}
.section__right .userLeft {
  clear: both;
}
.section__right .userLeft .userLeft-img {
  margin: 0px 15px 0px 15px;
  width: 72px;
  height: 72px;
}
.section__right .userLeft .wrap__time {
  margin-bottom: 0px;
}
.section__right .userLeft .wrap__paragraph {
  margin-bottom: 0px;
  background-color: #0094ff;
  padding: 5px 15px 5px 15px;
  border-radius: 0px 15px 0px 15px;
}
.section__right .shop__chat {
  margin-top: 170px;
  position: relative;
  margin-left: 20px;
}
.section__right .shop__chat .mess__input {
  background-color: #e9e9e9;
  width: 800px;
  height: 50px;
  border-radius: 40px;
  position: absolute;
}
.section__right .shop__chat .mess__icon--left {
  position: absolute;
  padding: 7px;
  padding-left: 20px;
}
.section__right .shop__chat .mess__icon--right {
  position: absolute;
  padding: 7px;
  padding-left: 750px;
}

@media screen and (max-width: 1200px) {
  .section__right .shop__chat .mess__input {
    width: 550px;
  }
  .section__right .shop__chat .mess__icon--right {
    padding-left: 500px;
  }

  .section__left .direct__main--component .component__time {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .section__right .shop__chat .mess__input {
    width: 400px;
  }
  .section__right .shop__chat .mess__icon--right {
    padding-left: 350px;
  }
}
@media screen and (max-width: 768px) {
  .section__right .shop__chat .mess__input {
    width: 300px;
  }
  .section__right .shop__chat .mess__icon--right {
    padding-left: 250px;
  }
  .section__right .shop__chat .mess__icon--left {
    visibility: hidden;
  }
  .section__right .shop__chat .mess__icon--left :first-child {
    visibility: visible;
  }
}
@media screen and (max-width: 576px) {
  .section__right .shop__chat {
    margin-top: 50px;
  }
  .section__right .shop__chat .mess__input {
    width: 200px;
  }
  .section__right .shop__chat .mess__icon--right {
    padding-left: 150px;
  }

  .section__left .direct__bot {
    margin-top: 90px;
  }
}

/*# sourceMappingURL=style.css.map */
