.den{
    background-color: black;
    
}
 .trang{
    background-color: white;

}

.table table{
    width: 880px;
    height: 779px;
    border-collapse: collapse;
    border: 1px solid black;
}
 .row_1 ,.margin_left{
    background-color: orange;

}
.margin, .row_end {
    background-color: orange;
}
.row_1{
    width: 5px;
    height: 80px;
}
.margin_left{
    width: 91px;
    
}
.wrap {
   
    border: 1px solid;
    border-color: blue;
    width: 880px;
    height: 36px;
    background-color: blue;
    display: flex;
   
}
 .wrap .icon {

  margin-left: 712px;

} 
.function, .content {
    background-color: rgb(192, 176, 176);
    border  :1px solid ;
    width: 880px;
    height: 36px;
}
.function th {
    padding: 10px;
   
}
